body {
  background-color: #9E1BBE;
  font-family: 'Roboto', sans-serif;
}

.main {
  margin: 0 auto;
  width: 960px;
  
}

h1 {
  font-size: 60px;
  font-weight: 900;
  color: #FFD644;
  padding: 80px 0 45px 0;
  text-align: center;
}

h2 {
  font-size: 14px;
  font-weight: 900;
  color: #FFFFFF;
  letter-spacing: 0.4px;
}

.flex-this {
  display: flex;
}

.button-container {
  margin-right:20px;
}

.button-container:last-child {
  margin-right: 0;
}


.sentence {
  background-color: #FFFFFF;
  width: 840px;
  padding: 10px 20px;
  border-radius: 40px;
  margin-top: 40px;
  height: 25px;
  color: #FF33A1;
  font-size: 18px;
  font-weight: 600;
}

.english {
  padding: 8px 20px;
  border-radius: 40px;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 500;
  font-style: italic;
}


button, label {
  margin-right: 10px;
  width: 120px;
  padding: 12px 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border-radius: 6px;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #9E0673;
  background-color: #FF33A1;
  color: white;
  cursor: pointer;
  display: inline-block;
}

button:hover, label:hover{
  background-color: #D6147D;
}

.reset{
  margin-top: 40px;
  margin-left: 10px;
  background-color: #AB5BDF;
  padding: 14px;
  border-radius: 40px;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;

}

.reset:hover{
  background-color: #9312E7;
}

.disabled{
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

label:last-child {
  margin-right: 0;
  
}

input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

/* button:active {
  background-color: #31969C;
  color: #fff;
} */
.cooltip { /* this is the tip bg */
  color: #FFF;
  margin-top: 40px;
  background: linear-gradient(to right, #4DCDFF, #AB5BDF);
  border: 10px solid #9E1BBE;
  padding: 1rem 2rem;
  border-radius: 16px;
  position: relative;
}

.cooltip:before { /* this is the blue border */
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 1px solid #4DCDFF;
  border-radius: 8px;
  pointer-events: none;
}

.cooltip:after { /* this is the "cool tip" */
  content: "Cool tip!";
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 900;
  top: -16px;
  left: 1rem;
  background: #9E1BBE;
  padding: 0 8px;
  font-size: 9px;
  position: absolute;
  z-index: 1;
}
